.btn-arrow {
  background: none;
  border: none;
  transition: all .3s ease-in-out;
}

.btn-arrow__img {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url('../../assets/images/arrow.svg') center / contain no-repeat;
}

@media (max-width: 640px) {
  .btn-arrow__img {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 320px) {
  .btn-arrow__img {
    width: 12px;
    height: 12px;
  }
}