.gallery__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery__item {
  width: 33.333333333333333333%;
}

.gallery__btn {
  background-color: #5b0fa1;
  width: 100%;
  height: 100%;
}

.gallery__btn:hover {
  background-color: rgba(91, 15, 161, 0.8);
}

.gallery__btn .btn-arrow__img {
  width: 30px;
  height: 30px;
}

.gallery__img {
  width: 100%;
}

@media (max-width: 640px) {
  .gallery__list {
    flex-wrap: wrap;
  }
  
  .gallery__item {
    width: 100%;
  }

  .gallery__btn {
    aspect-ratio: 1 / 1;
  }

  .gallery__btn .btn-arrow__img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 320px) {
  .gallery__btn .btn-arrow__img {
    width: 25px;
    height: 25px;
  }
}
