html,
body {
  overflow-x: hidden;
}

.body {
  font-size: 14px;
  line-height: 26px;
  color: #515151;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

p {
  margin: 0;
}

button:focus {
  outline: none;
}
