* {
  box-sizing: border-box;
}

.container {
  height: 450px;
  border: 1px solid #b0b0b0;
  margin-bottom: 10px;
}

.container:last-child {
  margin-bottom: 0;
}

.col-1 {
  background-color: #ffe5e5;
  width: calc(100% * 60 / 960);
}

.inline {
  word-spacing: -4px;
}

.inline .row {
  height: 100%;
  margin: 0 calc(100% * -10 / 960);
}

.inline .col-1 {
  display: inline-block;
  height: 100%;
  width: calc(100% / 12);
  padding: 0 calc(100% * 10 / 960);
  background-color: transparent;
}

.item {
  background-color: #ffe5e5;
  height: 100%;
}

.float .col-1 {
  height: 100%;
  float: inline-start;
  margin: 0 calc(100% * 10 / 960);
}

.flex {
  display: flex;
  justify-content: space-around;
}
