.main-container {
  display: flex;
}

.sprite-container {
  width: 76px;
  height: 304px;
  margin-right: 20px;
}

.sprite-container:last-child {
  margin-right: 20px;
}

.sprite-container.big {
  width: 152px;
  height: 608px;
}

.sprite-container [class^="icon"] {
  width: 76px;
  height: 76px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./assets/sprite.png');
  background-size: 76px 304px;
}

.sprite-container.big [class^="icon"] {
  width: 152px;
  height: 152px;
  background-size: 152px 608px;
}

.sprite-container .icon-1 {
  background-position: 0 0;
}

.sprite-container .icon-2 {
  background-position: 0 -76px;
}

.sprite-container .icon-3 {
  background-position: 0 -152px;
}

.sprite-container .icon-4 {
  background-position: 0 -228px;
}

.sprite-container.big .icon-2 {
  background-position: 0 -152px;
}

.sprite-container.big .icon-3 {
  background-position: 0 -304px;
}

.sprite-container.big .icon-4 {
  background-position: 0 -456px;
}
