.pure-css__select-label {
  position: relative;
  display: flex;
  background: #e9ecee;
  overflow: hidden;
}

.pure-css__select-label::after {
  content: "❯";
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  width: 30px;
  height: 30px;
  color: #ffffff;
  background: #0db5f7;
  writing-mode: vertical-rl;
}

.pure-css__select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #e9ecee;
  padding: 5px;
  border: none;
  outline: none;
  width: 250px;
  font-size: 14px;
  color: #868686;
  cursor: pointer;
}

.pure-css__select::-ms-expand {
  display: none;
}

.pure-css__option {
  background: #ffffff;
}
