.blue {
  background-color: rgb(118, 182, 255);
}

.step {
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 30px;
}

.step__arrow {
  padding: 20px;
}

.step__text {
  text-overflow: ellipsis;
}
